---
layout: page
title: Gallery
background: '/img/bg-field-3.jpg'
form: false
---

<h3>Pictures from the lab</h3>


<div class="gallery">
  {% for image in site.static_files %}
    {% if image.path contains 'assets/gallery' and image.extname == '.jpg' %}
      {% assign image_name = image.basename %}
      {% assign image_description = site.data.gallery   where: "filename", image_name | first %}
      <div class="gallery-item">
        <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.basename }}">
        {% if image_description %}
          <p class="gallery-description">{{ image_description.description }}</p>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>

<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px;
    padding: 20px;
  }

  .gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }

  .gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }

  .gallery-item:hover img {
    transform: scale(1.1);
  }

  .gallery-description {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
</style>
