---
layout: page
title: Welcome !
background: '/img/bg-field-4.png'
---

{% assign counterPeople = 0 %}
{% for people in site.data.people %}
    {% assign counterPeople = counterPeople | plus: 1 %}              
{% endfor %}


<h4>Welcome to our lab website !</h4>

    We are the <b>Plant Ecology, ecoPhysiology and sustainable Agriculture lab</b>, from the Earth and Life Institute [Agronomy] from the UCLouvain, in Belgium. 

	<br><br>
    
    We are {{counterPeople}} enthusiastic people studying how plant grow, how they are influenced by their environment (biotic and abiotic) and how people cultivate them. 

    <br><br>

    We have a soft spot for #roots, #hydraulics, #cereals, #pollinators, #market _gardenning, #sustainable_farming and #computational_tools. 

   <br><br>

<hr>

<p align="center">
<blockquote>
 <h4>Beyond research, we care</h4>
</blockquote>

{{ site.data.values.vision | markdownify }}

</p>

<br>
<hr>
<hr>
<hr>

<h4>Latest publications from the lab</h4>

{% assign sorted_publications = site.data.publications | where: "type", "journal" | sort: "year" | reverse %}

{% for publication in sorted_publications limit:3 %}

	<strong class="mb-1">{{ publication.title }}</strong>
 	{% if publication.open %}
    	<span style="color: green;"><i class="far fa-lock-open"></i></span>
  	{% endif %}
  	{% if publication.preprint %}
    	 <span style="color: green;"><i class="far fa-cog fa-spin"></i></span>
  	{% endif %}                       
  	<br>

  	<small>{{ publication.year }}</small> | <small>{{ publication.authors }}</small>
  	<br>

	 <div class="float-right">
	  {% if publication.doi %}
	      <a class="btn btn-outline-secondary btn-sm mb-1" href="http://dx.doi.org/{{ publication.doi }}" target="_blank" >
	        <i class="fal fa-link"></i>
	      </a>
	  {% elsif publication.url %}
	      <a class="btn btn-outline-secondary btn-sm mb-1" href="{{ publication.url }}" target="_blank">
	        <i class="fal fa-link"></i>
	      </a>
	  {% endif %}

	  {% if publication.pdf %}
	      <a class="btn btn-outline-secondary btn-sm mb-1" href="{{ publication.pdf }}" target="_blank">
	        <i class="fal fa-file-alt"></i>
	      </a>
	  {% endif %}
	  
	</div>
	<br>
	 <hr>

{% endfor %}

