---
layout: page
title: Publications
background: '/img/bg-flowers.png'
form: false
---


  <div class="alert alert-info">
    Most of our lab's publications from the last 10 years <br> 
            <small><span style="color: green;"><i class="far fa-cog fa-spin"></i></span> = preprint</small>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


<!-- Count the publications -->
{% assign journal_count = site.data.publications | where: "type", "journal" | size %}

{% assign sorted_publications = site.data.publications | where: "type", "journal" | sort: "year" | reverse %}


{% assign current_year = nil %}
{% for publication in sorted_publications %}
  {% if publication.type == 'journal' %}
    {% if current_year != publication.year %}
      {% unless forloop.first %}</div>{% endunless %}
      <h3>{{ publication.year }}</h3>
      <div class="year-section">
      {% assign current_year = publication.year %}
    {% endif %}

    <small>{{ journal_count | minus: forloop.index0 }}</small> | <strong class="mb-1">{{ publication.title }}</strong>
    {% if publication.open %}<span style="color: green;"><i class="far fa-lock-open"></i></span>{% endif %}
    {% if publication.preprint %}<span style="color: green;"><i class="far fa-cog fa-spin"></i></span>{% endif %}
    <br>
    <small>{{ publication.year }}</small> | <small>{{ publication.authors }}</small>
    <br>

    <div class="float-right">
      {% if publication.doi %}
        <a class="btn btn-outline-secondary btn-sm mb-1" href="https://dx.doi.org/{{ publication.doi }}" target="_blank"><i class="fal fa-link"></i></a>

      {% if publication.pdf %}
        <a class="btn btn-outline-secondary btn-sm mb-1" href="{{ publication.pdf }}" target="_blank"><i class="fal fa-file-alt"></i></a>
      {% endif %}

      <!--a class="btn btn-outline-secondary btn-sm mb-1" data-toggle="modal" href="#modal{{ forloop.index }}">
        <i class="fal fa-plus"></i>
      </a-->
    </div>
    <br>
    <hr>
  {% endif %}
{% endfor %}
</div>


