---
layout: page
title: Tools
background: '/img/bg-roots.png'
form: fa-solidse
---
  <div class="alert alert-info">
    We love to develop tools and ressources for the community and try to make them as open as possible to everyone. Check them out! 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <h3>Ressources and databases</h3>
<hr>

    {% for tool in site.data.tools %}
      {% if tool.ressource %}

      <h4 class="mb-1">{{ tool.name }}</h4>
      
      {% if tool.tags %}
        {% for tag in tool.tags %}
        <button type="button" class="btn btn-outline-secondary btn-sm mt-1">
          <i class="fa-solid fa-tag mr-1"></i>{{tag}}
        </button>
        {% endfor %}
      {% endif %} 

      <p class="mb-1"><p>{{ tool.description | markdownify }}</p>
      
      {% if tool.image %}
        <img src="{{ tool.image }}" alt="{{ tool.name }}" class="img-fluid mb-2" style="border-radius: 5px;">
      {% endif %}


      {% if tool.url %}
      <div class="float-right">
        <a href="{{ tool.url }}" class="btn btn-outline-primary btn-sm" target="_blank">
          <i class="fa-solid fa-external-link"></i> More
        </a>
      </div>
      {% endif %}
      <br><br>
      
      <hr>
      {% endif %}
    {% endfor %}


  <h3>Computational models</h3>
  <hr>

    {% for tool in site.data.tools %}
      {% if tool.model %}

      <h4 class="mb-1">{{ tool.name }}</h4>
      
      {% if tool.tags %}
        {% for tag in tool.tags %}
        <button type="button" class="btn btn-outline-secondary btn-sm mt-1">
          <i class="fa-solid fa-tag mr-1"></i>{{tag}}
        </button>
        {% endfor %}
      {% endif %} 

      <p class="mb-1"><p>{{ tool.description | markdownify }}</p>
      
      {% if tool.image %}
        <img src="{{ tool.image }}" alt="{{ tool.name }}" class="img-fluid mb-2" style="border-radius: 5px;">
      {% endif %}


      {% if tool.url %}
      <div class="float-right">
        <a href="{{ tool.url }}" class="btn btn-outline-primary btn-sm" target="_blank">
          <i class="fa-solid fa-external-link"></i> More
        </a>
      </div>
      {% endif %}
      <br><br>
      
      <hr>
      {% endif %}
    {% endfor %}    




  <h3>Phenotyping tools</h3>
<hr>

    {% for tool in site.data.tools %}
      {% if tool.phenotyping %}

      <h4 class="mb-1">{{ tool.name }}</h4>
      
      {% if tool.tags %}
        {% for tag in tool.tags %}
        <button type="button" class="btn btn-outline-secondary btn-sm mt-1">
          <i class="fa-solid fa-tag mr-1"></i>{{tag}}
        </button>
        {% endfor %}
      {% endif %} 

      <p class="mb-1"><p>{{ tool.description | markdownify }}</p>
      
      {% if tool.image %}
        <img src="{{ tool.image }}" alt="{{ tool.name }}" class="img-fluid mb-2" style="border-radius: 5px;">
      {% endif %}


      {% if tool.url %}
      <div class="float-right">
        <a href="{{ tool.url }}" class="btn btn-outline-primary btn-sm" target="_blank">
          <i class="fa-solid fa-external-link"></i> More
        </a>
      </div>
      {% endif %}
      <br><br>
      
      <hr>
      {% endif %}
    {% endfor %}    


  </div>
